<%= render 'public/publics' %>

<div class="container">
 <div class="row justify-content-center m-5">
  <div class="m-5 text-center">
   <h5 class="m-5"><strong>本当に退会しますか？</strong></h5>
   <p class="mb-4">
    <strong>
     退会すると、会員登録情報や</br>
     これまでの購入履歴が閲覧できなくなります。</br>
     退会する場合は、「退会する」をクリックしてください。
    </strong>
   </p>
   <div class="inline">
    <%= link_to "退会しない",customer_path(current_customer.id) %>
    <%= link_to "退会する",customer_registration_path,method: :delete %>
   </div>
  </div>
 </div>
</div>